<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    <div class="container">
      <header
        class="navbar"
        style="
          display: flex;
          justify-content: space-between;
          padding: 0px;
          margin: 0px;
        "
      >
        <div class="nav-logo">
          <img src="assets/images/logo.png" width="200px" alt="" />
        </div>

        <div class="profile" style="display: flex; gap: 20px">
          <img
            src="../../../assets/images/ff00088f8524bfba308ca961a83bd7c5.jpg"
            width="50px"
            height="50px"
            style="border-radius: 50%"
            alt=""
          />
          <div class="profile-txt">
            <h5>Welcome,</h5>
            <p style="color: #a0a0a0">{{userName}}</p>
          </div>
        </div>
      </header>
      <section
        style="
          margin-top: 100px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div>
          <h1 style="color: #ec7849">
            Healthy Life<br />
            Style
          </h1>
          <p style="margin-top: 30px; line-height: 30px; color: #7c7c7c">
            We care about what we eat. We know you do too. Through flavor-packed
            recipes and <br />science-backed journalism, we inform, empower and
            <br />inspire readers to live their best lives.
          </p>
        </div>
        <img
          src="../../../assets/images/apple-nachos-2-635x423.png"
          width="540px"
          alt=""
        />
      </section>
      <section style="margin-top: 100px">
        <h2 style="text-align: center">Our Blogs</h2>

        <div class="mt-5">
          <div class="blogs">
            <div class="one-blog">
              <img src="assets/images/1blog.jpg" width="100%" height="150px" />
              <h6>Sweet Potato Shakshuka</h6>
              <p>
                This is an untraditional but delicious take on Shakshuka with a
                sweet potato base .
              </p>
            </div>
            <div class="one-blog">
              <img src="assets/images/2blog.jpg" width="100%" height="150px" />
              <h6>Sweet Potato Shakshuka</h6>
              <p>
                This is an untraditional but delicious take on Shakshuka with a
                sweet potato base .
              </p>
            </div>
            <div class="one-blog">
              <img src="assets/images/3blog.jpg" width="100%" height="150px" />
              <h6>Sweet Potato Shakshuka</h6>
              <p>
                This is an untraditional but delicious take on Shakshuka with a
                sweet potato base .
              </p>
            </div>
            <div class="one-blog">
              <img src="assets/images/1blog.jpg" width="100%" height="150px" />
              <h6>Sweet Potato Shakshuka</h6>
              <p>
                This is an untraditional but delicious take on Shakshuka with a
                sweet potato base .
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section
      class="subscribe"
      style="
        background-color: #fae1d9;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
      "
    >
      <h2 style="text-align: center">Join the fun!</h2>
      <p style="text-align: center; padding-top: 10px; padding-bottom: 50px">
        We're very excited to launch our first line of high-quality supplements
        for vegans and<br />
        vegetarians in collaboration with Puori.
      </p>
    </section>
  </body>
</html>
