<div class="add">
  <div class="main-div">
    <div class="cancel">
      <a routerLink="/posts"><i class="fa-solid fa-xmark"></i></a>
    </div>
    <h2>Add New Post</h2>
    <div class="all-section">
      <form class="form">
        <div class="add-img">
          <img  [src]="imageUrl" alt="Selected Image" width="180px" height="250px">
          <label for="file-upload" class="custom-file-upload">
            <input #image id="file-upload" type="file" (change)="onFileSelected($event)" accept="image/*">
            Upload Image
          </label>
        </div>
        <div class="inputs">
          <div>
            <input #title  type="text" id="title" placeholder="Title">

          </div>
          <div>
            <textarea #description type="text"  id="description"  placeholder="Description"></textarea>
          </div>
            <a  (click)="AddPost(title.value , description.value, image.value)">Add</a>
        </div>


      </form>

    </div>
  </div>

  <!-- <button type="button" (click)="AddPost(img.value , title.value , description.value)">ADD</button> -->
</div>
