

<div class="d-flex ">

   <app-header></app-header>
    
  <section class="posts">
    <div class="profile float-end d-flex">
      <img src="assets/images/profile.png" width="60px" height="50px" alt="">
      <div class="profile-txt">
          <h5>{{userName}}</h5>
          <p>Web Developer</p>
      </div>
    </div>

    <div class="content">
      <h4>Posts</h4>
      <p>Home/Posts</p>
    </div>

    <div class="btns">
      <button class="btn-a all"  >All</button>
      <button class="btn-a">Fruits and Vegetables</button>
      <button class="btn-a">Protien</button>
      <button class="btn-a">Starchy Food</button>
    </div>

    <div class="mt-2">
      <div class="blogs d-flex flex-wrap">
        @for(post of Posts;track post.title){
        <app-one-post [onepost]="post" (postDeleted)="onPostDeleted($event)"></app-one-post>
        }
      <div class="edit-delete">
      </div>
      </div>
    </div>

  </section>

</div> 




