<div class="add">
  <div class="main-div">
    <div class="cancel">
      <a routerLink="/posts"><i class="fa-solid fa-xmark"></i></a>
    </div>
    <h2>Edit Post</h2>
    <div class="all-section">
      <div class="form">
        <div class="add-img">
          <img [src]="'http://localhost:8000/images/' + post.image" alt="Selected Image" width="180px" height="250px">
          <label for="file-upload" class="custom-file-upload">
            <input id="file-upload" type="file" [(ngModel)]="post.image" (change)="onFileSelected($event)"
              accept="image/*">
            Upload Image
          </label>
        </div>
        <div class="inputs">
          <div>
            <input type="text" id="title" [(ngModel)]="post.title">
          </div>
          <div>
            <textarea type="text" id="description" [(ngModel)]="post.description"></textarea>
          </div>
          <a (click)="UpdatePost()">Save Changes</a>
        </div>


      </div>

    </div>
  </div>

  <!-- <button type="button" (click)="AddPost(img.value , title.value , description.value)">ADD</button> -->
</div>
