table{
  width: 100%;
  border: 1px solid #D9D9D9;
  margin: 30px 0;
  border-radius: 10px;
}
table .frist{
  width: 80px;
}
table th:not(.frist){
  width: 23%;
}
table thead {
  height: 50px;
}
table thead>tr{
  background-color: rgba(237, 155, 128, 0.3);
  padding: 10px ;
}
table ~th{
  padding-left: 10px;
}
table td>img{
  margin: 12px;
}
table td{
  border-bottom:1px solid #D9D9D9 ;

}
tbody td>a{
  margin-left: 10px;
}
tbody td{
  width: 100%;
}
