
<div class="container d-flex mt-5">
  
  <app-header></app-header>
  <section class="home">
    <div class="profile">
      <img src="../../../assets/images/ff00088f8524bfba308ca961a83bd7c5.jpg" width="50px" height="50px" alt="">
      <div class="profile-txt">
          <h5>{{userName}}</h5>
          <p>Web Developer</p>
      </div>
    </div>
  
    <div class="content">
      <h4>Home</h4>
      <p>Home/Dashboard</p>
    </div>
  
    <div class="posts-users">
      <div class="post-div">
        <div>
          <h4>Posts</h4>
          <br>
          <h3 style="color:#EC7849 ;">10</h3>
        </div>
        <div>
          <i class="icon fa-regular fa-pen-to-square" style="color: #EC7849;"></i>
        </div>
      </div>
      <div class="post-div">
        <div>
          <h4>Users</h4>
          <br>
          @if (usersNum) {
            <h3 style="color: #EC7849;">{{usersNum}}</h3>
          }@else {<h3 style="color: #EC7849;">loading...</h3>}
        </div>
  
        <div>
          <i class="icon fa-solid fa-user" style="color: #EC7849;"></i>
        </div>
      </div>
    </div>
  
    <div class="mt-5">
      <h4>Latest Blogs</h4>
      <div class="blogs">
        <div class="one-blog">
            <img src="./../../../assets/images/1blog.jpg" width="100%" height="150px" >
            <h6>Sweet Potato Shakshuka</h6>
            <p>This is an untraditional but delicious take on Shakshuka with a sweet potato base .</p>          <div>
              <a class="edit">Edit</a>
              <a class="delete">Delete</a>
            </div>
        </div>
        <div class="one-blog">
            <img src="./../../../assets/images/2blog.jpg" width="100%" height="150px">
            <h6>Sweet Potato Shakshuka</h6>
            <p>This is an untraditional but delicious take on Shakshuka with a sweet potato base . </p>
            <div>
              <a class="edit">Edit</a>
              <a class="delete">Delete</a>
            </div>
        </div>
        <div class="one-blog">
            <img src="./../../../assets/images/3blog.jpg" width="100%" height="150px">
            <h6>Sweet Potato Shakshuka</h6>
            <p>This is an untraditional but delicious take on Shakshuka with a sweet potato base .</p>
            <div class="edit-delete">
              <a class="edit">Edit</a>
              <a class="delete">Delete</a>
            </div>
        </div>
      </div>
    </div>
  
  </section>

</div>
