
<div class="d-flex ">
  
  <app-header></app-header>
  <section class="home">
    <div class="profile">
      <img src="assets/images/profile.png" width="60px" height="50px" alt="">
      <div class="profile-txt">
          <h5>{{userName}}</h5>
          <p>Web Developer</p>
      </div>
    </div>
  
    <div class="content">
      <h4>Home</h4>
      <p>Home/Dashboard</p>
    </div>
  
    <div class="posts-users">
      <div class="post-div">
        <div>
          <h4>Posts</h4>
          <br>
          @if(blogs){
            <h3 style="color:#EC7849 ;">{{blogs.length}}</h3>
          }@else {<h3 style="color: #EC7849;">loading...</h3>}
        </div>
        <div>
          <i class="icon fa-regular fa-pen-to-square" style="color: #EC7849;"></i>
        </div>
      </div>
      <div class="post-div">
        <div>
          <h4>Users</h4>
          <br>
          @if (usersNum) {
            <h3 style="color: #EC7849;">{{usersNum}}</h3>
          }@else {<h3 style="color: #EC7849;">loading...</h3>}
        </div>
  
        <div>
          <i class="icon fa-solid fa-user" style="color: #EC7849;"></i>
        </div>
      </div>
    </div>
  
    <div class="mt-5">
      <h4>Latest Blogs</h4>
      <div class="blogs">
                      @for (blog of blogs; track blog._id) {
                           <app-one-post [onepost]="blog"></app-one-post>

                      }
                      
                      
                     
      </div>
    </div>
  
  </section>
  
</div>






<!-- <div class="one-blog">
    <img [src]="'http://localhost:8000/images/' + blog.image" width="100%" height="150px" >
    <h6>{{blog.title}}</h6>
    <p> {{blog.description}}</p>     
    <div>
      <a routerLink="/edit-post/{{blog._id}}" class="edit">Edit</a>
      <a class="delete" (click)="deletePost(blog.id)">Delete</a>
    </div>
</div> -->