.users{
  border: 2px solid rgb(255, 255, 255);
  margin-left: 20px;
  width: 975px
}

.profile img{
  border-radius: 50%;
  margin-right: 10px;
}
.profile-txt > p{
  color: rgba(160, 160, 160, 1);
}
.content{
  margin-top: 70px;
  margin-bottom: 30px;
}
.content >p{
  font-size: 16px;
  color: rgba(160, 160, 160, 1);
}
.user-search{
  display: flex;
  justify-content: space-between;

}
.user-search >input{
  width: 440px;
  height: 50px;
  padding-left: 20px;
  background-color:#F5F5F5;
  border-radius: 10px;
  border: none;
}
.user-txt button{
  background-color: #EC7849;
  width: 150px;
  height: 45px;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}
.user-txt{
  width: 280px;
  display: flex;
  justify-content: space-between;
}
.user-txt p{
  font-size: 20px;
  margin-top: 5px;
}
.user-txt span{
  font-weight: 500;
}
table{
  width: 100%;
  border: 1px solid #D9D9D9;
  margin-top: 30px;
}
table th{
  background-color: rgba(237, 155, 128, 0.3);
  padding: 10px 0;
}
table ~th{
  padding-left: 10px;
}
table td>img{
  margin: 10px;
}
table td{
  border-bottom:1px solid #D9D9D9 ;
}
