
<div class="container d-flex mt-5">

  <app-header></app-header>
<section class="users">
  <div class="profile float-end d-flex">
    <img src="../../../assets/images/ff00088f8524bfba308ca961a83bd7c5.jpg" width="50px" height="50px" alt="">
    <div class="profile-txt">
        <h5>Basma Elkenawy</h5>
        <p>Web Developer</p>
    </div>
  </div>

  <div class="content">
    <h4>Users</h4>
    <p>Home/Users</p>
  </div>

  <div class="user-search">
    <input type="search" placeholder="search..." >

    <div class=" user-txt" >
      <button>+ Add New</button>
      <p>Sort by <a href=""> Age <i class="fa-solid fa-sort-down"></i> </a></p>
    </div>
  </div>

  <div class="table">
    <table>
      <tr>
        <th style="padding-left:30px">FullName</th>
        <th>Email</th>
        <th>Age</th>
        <th>Phone</th>
        <th></th>
      </tr>
      <tr>
        <td><img src="assets/images/ff00088f8524bfba308ca961a83bd7c5.jpg" style="border-radius: 50%;" width="40px" height="40px">Basma Elenawy</td>
        <td>belkenawy&#64;gamil.com</td>
        <td>22</td>
        <td>0109222222</td>
        <td><button><i class="fa-solid fa-pen" style="color: #EC7849;"></i></button>
          <button><i class="fa-solid fa-trash-can" style="color: #EC7849;"></i></button></td>   </tr>
      <tr>
        <td><img src="assets/images/ff00088f8524bfba308ca961a83bd7c5.jpg" style="border-radius: 50%;" width="40px" height="40px">Basma Elkenawy</td>
        <td>belkenawy&#64;gamil.com</td>
        <td>22</td>
        <td>0109222222</td>
        <td><button><i class="fa-solid fa-pen" style="color: #EC7849;"></i></button>
          <button><i class="fa-solid fa-trash-can" style="color: #EC7849;"></i></button></td>  </tr>
      <tr>
        <td><img src="assets/images/ff00088f8524bfba308ca961a83bd7c5.jpg" style="border-radius: 50%;" width="40px" height="40px">Basma Elkenawy</td>
        <td>belkenawy&#64;gamil.com</td>
        <td>22</td>
        <td>0109222222</td>
        <td><button><i class="fa-solid fa-pen" style="color: #EC7849;"></i></button>
          <button><i class="fa-solid fa-trash-can" style="color: #EC7849;"></i></button></td>   </tr>
      <tr>
        <td><img src="assets/images/ff00088f8524bfba308ca961a83bd7c5.jpg" style="border-radius: 50%;" width="40px" height="40px">Basma Elkenawy</td>
        <td>belkenawy&#64;gamil.com</td>
        <td>22</td>
        <td>0109222222</td>
        <td><button><i class="fa-solid fa-pen" style="color: #EC7849;"></i></button>
          <button><i class="fa-solid fa-trash-can" style="color: #EC7849;"></i></button></td>   </tr>
      <tr>
        <td><img src="assets/images/ff00088f8524bfba308ca961a83bd7c5.jpg" style="border-radius: 50%;" width="40px" height="40px">Basma Elkenawy</td>
        <td>belkenawy&#64;gamil.com</td>
        <td>22</td>
        <td>0109222222</td>
        <td><button><i class="fa-solid fa-pen" style="color: #EC7849;"></i></button>
          <button><i class="fa-solid fa-trash-can" style="color: #EC7849;"></i></button></td>    </tr>
      <tr>
        <td><img src="assets/images/ff00088f8524bfba308ca961a83bd7c5.jpg" style="border-radius: 50%;" width="40px" height="40px">Basma Elkenawy</td>
        <td>belkenawy&#64;gamil.com</td>
        <td>22</td>
        <td>0109222222</td>
        <td><button><i class="fa-solid fa-pen" style="color: #EC7849;"></i></button>
          <button><i class="fa-solid fa-trash-can" style="color: #EC7849;"></i></button></td>
      </tr>
      <tr>
        <td><img src="assets/images/ff00088f8524bfba308ca961a83bd7c5.jpg" style="border-radius: 50%;" width="40px" height="40px">Basma Elkenawy</td>
        <td>belkenawy&#64;gamil.com</td>
        <td>22</td>
        <td>0109222222</td>
        <td><button><i class="fa-solid fa-pen" style="color: #EC7849;"></i></button>
          <button><i class="fa-solid fa-trash-can" style="color: #EC7849;"></i></button></td>
      </tr>

    </table>
  </div>


</section>

</div>