/* You can add global styles to this file, and also import other style files */
/* h1{
  color: rgb(192, 90, 90);
  background-color: #b6b6b6;
  font-size: 25px;
} */

/* excute this file first .. then any style in css component */
/* div{
  border: 1px solid black;
  width: 80%;
  border-radius:10px ;
  text-align: center;

} */
.active{
  background-color:rgba(237, 155, 128, 0.3);
  color: rgb(202, 97, 65);

}
