<div class="contain">
  <header class="navbar">
    <div class="nav-logo">
      <img src="assets/images/logo.png" width="250px" height="" alt="">
    </div>
    <ul class="nav-list d-flex ">
      <li><a routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a routerLink="posts" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Posts</a></li>
      <li><a routerLink="users"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Users</a></li>
      <li><a routerLink="setting"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Setting</a></li>
      <li><a routerLink="logout"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Logout</a></li>
    </ul>


    <button class="btn">+ New Post</button>
  </header>
</div>
